<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

	<script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
	<title>medicine investigate form</title>
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand">medicine investigate form</a>
			</div>
		</div>
	</nav>
	<div class="container">
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item active">
				<a class="nav-link active" id="home-tab" data-toggle="tab" href="#Profile" role="tab" aria-controls="home" aria-selected="true">個人資料</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="Form-tab" data-toggle="tab" href="#Form" role="tab" aria-controls="Form" aria-selected="false">填寫表單</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="Adjust-tab" data-toggle="tab" href="#Adjust" role="tab" aria-controls="Adjust" aria-selected="false">調整時間</a>
			</li>
		</ul>
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade in active" id="Profile" role="tabpanel" aria-labelledby="home-tab">
				<h3>Profile</h3>
				<div class="row">
					<div class="col-xs-12">
						<table class="table table-striped">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Property</th>
									<th scope="col">Content</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">1</th>
									<td>userId</td>
									<td><span id="userId"></span></td>
								</tr>
								<tr>
									<th scope="row">2</th>
									<td>displayName</td>
									<td><span id="displayName"></span></td>
								</tr>
								<tr>
									<th scope="row">3</th>
									<td>pictureUrl</td>
									<td><span id="pictureUrl"></span></td>
								</tr>
								<tr>
									<th scope="row">4</th>
									<td>statusMessage</td>
									<td><span id="statusMessage"></span></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="Form" role="tabpanel" aria-labelledby="Form-tab">
				<h3>Form</h3>
				<form class="form-horizontal" action="/action_page.php" method="post" id="form">
					<div class="form-group" id="routine_form">
						<label class="control-label col-sm-1">起始時間</label>
						<div class="col-sm-2">
							<input type="datetime-local" class="form-control" name="begindate" id="begindate">
						</div>
						<label class="control-label col-sm-1">結束時間</label>
						<div class="col-sm-2">
							<input type="datetime-local" class="form-control" name="enddate" id="enddate">
						</div>
						<table class="table table-striped">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">行程</th>
								</tr>
							</thead>
							<tbody id="routine_table">
							</tbody>
						</table>
					</div>
					<div class="form-group">
						<button type="button" style="margin-left: 18px;" class="btn btn-secondary" onclick="addRoutine()">增加每日提醒</button>
						<button type="button" style="margin-left: 18px;" class="btn btn-warning" onclick="delRoutine()">減少每日提醒</button>
						<button type="button" style="margin-left: 18px;" class="btn btn-danger" onclick="resetRoutine()">重置</button>
						<button type="submit" style="margin-left: 18px;" class="btn btn-primary">送出</button>
					</div>
				</form>
				<script type="text/javascript">
					var count = 0, init_block = $("#routine_form").prop('outerHTML');
					function addRoutine(){
						var time_input = `<input type="time" id="timepicker${count}" value="00:00">`;
						$("#routine_table").append(`<tr id=row${count}><th scope="row">${count}</th><td>${time_input}</td></tr>`);
						count += 1;
					}
					function delRoutine(){
						if(count > 0){
							$(`#row${count-1}`).remove();
							count -= 1;
						}
					}
					function resetRoutine(){
						$("#routine_table").html("");
						count = 1;
					}
				</script>
			</div>
			<div class="tab-pane fade" id="Adjust" role="tabpanel" aria-labelledby="Adjust-tab">
				<h3>Adjust</h3>
			</div>
		</div>
	</div>
</body>
<script>
	var liff_id = '{{ liff_id }}';
	liff.init({
		liffId: liff_id 
	}).then(()=>{
		if (!liff.isLoggedIn()) {
			liff.login();
		}
		liff.getProfile().then(function (profile) {
			document.getElementById("userId").innerHTML = profile.userId;
			document.getElementById("displayName").innerHTML = profile.displayName;
			document.getElementById("pictureUrl").innerHTML = profile.pictureUrl;
			document.getElementById("statusMessage").innerHTML = profile.statusMessage;
		})
	}).catch(error=>{
		console.log('error', error);
	})
</script>